target/
**/target/
node_modules/
**/node_modules/
dev-data/
apps/core-desktop/public/media/
**/src-tauri/binaries/
**/src-tauri/gen/
.git/
.github/
.env
*.log
.DS_Store
dist/
build/
.turbo/
.idea/
.vs/
